*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.header{
  text-align: center;
  height:100px;
  background-color: black;
  color:white;
}
.footer{
  text-align: center;
  height:100px;
  background-color: black;
  color:white;
  width:100%;
}