.card{
    width:400px;
    height:400px;
    background-color: aqua;
    color:brown;
    font-size: 25px;
    border: 5px solid blue;
    margin: 25px;
    text-align: center;
    border-radius: 25px;
}